@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

#cc-main {
  --cc-font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --cc-bg: #fff;
  --cc-primary-color: #1f2128;
  --cc-secondary-color: #343433;

  --cc-btn-primary-bg: #f5be5c;
  --cc-btn-primary-border-color: #f5be5c;
  --cc-btn-primary-hover-bg: #f4c36b;
  --cc-btn-primary-hover-border-color: #f4c36b;

  --cc-btn-primary-color: #1f2128;
  --cc-btn-primary-hover-color: #1f2128;

  --cc-btn-secondary-bg: #eeeff2;
  --cc-btn-secondary-border-color: #eeeff2;
  --cc-btn-secondary-hover-bg: #e5e5e5;
  --cc-btn-secondary-hover-border-color: #e5e5e5;

  --cc-btn-secondary-color: #1f2128;
  --cc-btn-secondary-hover-color: #1f2128;

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
}
